p {
  opacity: 1;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

a:hover.c-blue {
  color: #2b6ab3;
}

a.rounded-3 {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.rounded-3:hover {
  background-color: #F6EDFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

a.rounded-3:active, a.rounded-3:focus {
  background-color: #4D2077;
  color: white;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.switch {
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
}

.switch::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 1px;
  width: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.switch:hover::after {
  width: 100%;
}

.switch.active::after {
  width: 100%;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fw-medium {
  font-weight: 500;
}

.c-accent {
  color: #4D2077;
}

.c-primary {
  color: #3C3939;
}

.c-blue {
  color: #4083D1;
}

.c-gray {
  color: #999999;
}

.bg-blue {
  background-color: #F1F8FF;
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded-4 {
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  font-weight: 500;
}

.btn-lg {
  padding: 11px 32px 15px 32px;
  line-height: 1em;
}

.btn-sm {
  padding: 10px 16px;
}

.btn-accent {
  background-color: #4D2077;
  color: white;
  border-radius: 10px;
}

.btn-accent:hover {
  background-color: #7F47B4;
  color: white;
}

.btn-accent:active {
  background-color: #3D1B5C;
}

.btn-accent:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
}

.btn-accent:disabled {
  background-color: #B0B0B0;
}

.btn-white {
  background-color: white;
  color: #3C3939;
}

.btn-outline {
  color: #3C3939;
  border: 1px solid #3C3939;
}

.img {
  padding-top: 85%;
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #4D2077;
}

.main-1 {
  background-image: url("../images/img/hero.jpeg");
  background-size: cover;
}

.main-2 {
  background-image: url("../images/img/hero-2.jpeg");
  background-size: cover;
}

.popular-categories .img:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.popular-categories a:hover, .popular-categories a:focus {
  color: #4D2077;
}

.popular-list a.fw-medium {
  line-height: 20px !important;
}

.form-select:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
}

.form-select::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-select:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-select::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-select::placeholder,
.form-control::placeholder {
  color: #999999;
}

.bg-blue .form-select:focus,
.bg-blue .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(64, 131, 209, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(64, 131, 209, 0.3);
}

.find-on-map .input-group {
  margin-bottom: -10px;
}

.find-on-map .input-group .form-select,
.find-on-map .input-group .form-control {
  border-color: #4D2077;
}

.find-on-map .input-group .btn {
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.auction .img {
  padding-top: 55%;
  max-height: 200px !important;
}

@media (min-width: 1484px) {
  .container {
    max-width: 1440px;
  }
}

.border-bottom {
  border-bottom-color: #BCBCBC !important;
}

input[type=date] {
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: url("../images/icons/calendar.svg");
  background-position: 94% center;
  position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.page-item {
  margin-right: 4px;
}

.page-item:last-of-type {
  margin-right: 0;
}

.page-item .page-link {
  color: #4D2077;
  border-radius: 10px !important;
  border-color: transparent;
  line-height: 20px;
}

.page-item .page-link:focus {
  background-color: #f2e9f9;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(77, 32, 119, 0.3);
}

.page-item .page-link:hover {
  background-color: #f2e9f9;
}

.page-item.active .page-link {
  background-color: #4D2077;
  border-color: #4D2077;
}

.page-item.disabled .page-link {
  border-color: transparent;
}

.page-item.disabled svg path {
  stroke: #999999;
  opacity: 0.8;
}

@media screen and (max-width: 786px) {
  .popular-categories .fs-20 {
    font-size: 14px;
  }
  .btn-lg {
    font-size: 16px;
  }
  .input-group > .form-control,
  .input-group > .form-select {
    width: 100%;
  }
  .page-item .page-link {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */