@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #3C3939;
}

::-moz-selection {
  color: white;
  background-color: #FF6600;
}

::selection {
  color: white;
  background-color: #FF6600;
}

header {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
}

.switch {
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
}

.switch::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 1px;
  width: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.switch:hover::after {
  width: 100%;
}

.switch.active::after {
  width: 100%;
}

.main-1 {
  background-image: url("../images/img/hero.jpeg");
  background-size: cover;
  background-position: center;
}

.logo-bg {
  background: radial-gradient(38.15% 646.72% at 50.08% 50%, #ACACAC 0%, rgba(255, 251, 251, 0) 100%);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.main-2 {
  background-image: url("../images/img/hero-2.jpeg");
  background-size: cover;
}

.categories-list img {
  max-height: 225px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.categories-list a {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.categories-list a:hover, .categories-list a:active, .categories-list a:focus {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.find-on-map .input-group {
  margin-bottom: -10px;
}

.find-on-map .input-group .form-select,
.find-on-map .input-group .form-control {
  border-color: #FF6600;
}

.find-on-map .input-group .btn {
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.auction .img {
  padding-top: 55%;
  max-height: 200px !important;
}

.popular-categories .img:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.popular-categories a:hover, .popular-categories a:focus {
  color: #FF6600;
}

.popular-list .h6 {
  line-height: 20px !important;
}

.news-list img {
  height: 272px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.c-accent {
  color: #FF6600;
}

.c-primary {
  color: #3C3939;
}

.c-blue {
  color: #4DA9FF;
}

.c-gray {
  color: #999999;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

a:hover.c-blue {
  color: #1a90ff;
}

.bg-blue {
  background-color: #F1F8FF;
}

.bg-gray {
  background-color: #F6F6F6;
}

.shadow-box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded-4 {
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  font-weight: 500;
}

.btn-lg {
  padding: 13px 32px 13px 32px;
  line-height: 1em;
}

.btn-sm {
  padding: 10px 16px;
}

.btn-accent {
  background-color: #FF6600;
  color: white;
  border-radius: 10px;
}

.btn-accent:hover {
  background-color: #ff751a;
  color: white;
}

.btn-accent:active {
  background-color: #e65c00;
}

.btn-accent:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.btn-accent:disabled {
  background-color: gray;
}

.btn-white {
  background-color: white;
  color: #3C3939;
}

.btn-outline {
  color: #3C3939;
  border: 1px solid #3C3939;
}

.img {
  padding-top: 85%;
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-select:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.form-select::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-select:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-select::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-select::placeholder,
.form-control::placeholder {
  color: #999999;
}

.bg-blue .form-select:focus,
.bg-blue .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(77, 169, 255, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(77, 169, 255, 0.3);
}

.border-bottom {
  border-bottom-color: #BCBCBC !important;
}

span.checked {
  color: #FFD600;
}

input[type=date] {
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: url("../images/icons/calendar.svg");
  background-position: 94% center;
  position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.page-item {
  margin-right: 4px;
}

.page-item:last-of-type {
  margin-right: 0;
}

.page-item .page-link {
  color: #3C3939;
  border-radius: 10px !important;
  border-color: transparent;
  line-height: 20px;
}

.page-item .page-link:focus, .page-item .page-link:hover {
  background-color: #ffe0cc;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.page-item.active .page-link {
  background-color: #FF6600;
  border-color: #FF6600;
}

.page-item.disabled .page-link {
  border-color: transparent;
}

.page-item.disabled svg path {
  stroke: #999999;
  opacity: 0.8;
}

footer {
  background-color: #3C3939;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.form-check .form-check-input {
  width: 24px;
  height: 24px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  float: none;
  margin: 0;
  margin-right: 16px;
}

.form-check .form-check-input:checked {
  background-color: #FF6600;
  border-color: #FF6600;
  background-image: url("../images/icons/check.svg");
}

.form-check .form-check-input:focus {
  border-color: #FF6600;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.4);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.4);
}

.modal-content .nav button {
  padding: 0 0 12px 0;
}

.modal-content .nav button.active {
  color: #FF6600;
  border-bottom: 1px solid #FF6600;
}

.modal-content .nav button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-content .btn-group .btn-check:checked + .btn {
  background-color: rgba(0, 0, 0, 0.05);
}

.modal-content .btn-group .btn-check:focus + .btn,
.modal-content .btn-group .btn-check .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-content .btn-group .btn {
  border: 0.5px solid #C4C4C4;
  font-weight: normal;
  padding: 4px 16px;
}

.modal-content .btn-outline {
  border: 0.5px solid #C4C4C4;
}

.map-container .ymaps-2-1-78-controls__control_toolbar,
.map-container .ymaps-2-1-78-map-copyrights-promo,
.map-container .ymaps-2-1-78-controls__control {
  display: none !important;
}

.map-container .map-placemark {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  background-image: url("../images/icons/map-pin.svg");
}

.map-container .map-circle {
  border-radius: 50%;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: rgba(255, 102, 0, 0.22);
  border: 1px solid #FF6600;
}

@media (min-width: 1488px) {
  .container {
    max-width: 1464px;
  }
}

@media (min-width: 991.98px) {
  .modal-dialog {
    max-width: 944px;
  }
  .modal-content .btn-group .btn {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .popular-categories .fs-20 {
    font-size: 14px;
  }
  .btn-lg {
    font-size: 16px;
  }
  .page-item .page-link {
    font-size: 1rem;
  }
  .news-list img {
    height: 50vw;
  }
}

@media (max-width: 575.98px) {
  .find-on-map .input-group {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .map-container {
    height: 200px;
  }
  .map-container .map-circle {
    width: 200px;
    height: 200px;
  }
  .modal-content .nav button {
    padding-bottom: 8px;
  }
  .modal-content .btn-group .btn {
    padding: 4px 10px;
  }
}
/*# sourceMappingURL=style.css.map */