@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
$accent: #FF6600;
$primary: #3C3939;
$gray: #999999;
$light-gray: #F6F6F6;
$white: white;
$blue: #4DA9FF;
$light-blue: #F1F8FF;
$yellow: #FFD600;
$transparent: transparent;
body {
    font-family: 'Roboto', sans-serif;
    color: $primary;
}

 ::selection {
    color: $white;
    background-color: $accent;
}

header {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
}

// *** HOME PAGE start *** //
.switch {
    color: $white;
    background-color: $transparent;
    border: none;
    padding: 0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $white;
        height: 1px;
        width: 0;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -ms-transition: width 0.5s;
        -o-transition: width 0.5s;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
    &.active {
        &::after {
            width: 100%;
        }
    }
}

.main-1 {
    background-image: url('../images/img/hero.jpeg');
    background-size: cover;
    background-position: center;
}

.logo-bg {
    background: radial-gradient(38.15% 646.72% at 50.08% 50%, #ACACAC 0%, rgba(255, 251, 251, 0) 100%);
    filter: blur(4px);
}

.main-2 {
    background-image: url('../images/img/hero-2.jpeg');
    background-size: cover;
}

// categories list
.categories-list {
    img {
        max-height: 225px;
        object-fit: scale-down;
    }
    a {
        border: 1px solid $transparent;
        transition: all 0.3s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            outline: none;
        }
    }
}

.find-on-map {
    .input-group {
        margin-bottom: -10px;
        .form-select,
        .form-control {
            border-color: $accent;
        }
        .btn {
            border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            -ms-border-radius: 0 4px 4px 0;
            -o-border-radius: 0 4px 4px 0;
        }
    }
}

.auction {
    .img {
        padding-top: 55%;
        max-height: 200px !important;
    }
}

.popular-categories {
    .img {
        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
        }
    }
    a {
        &:hover,
        &:focus {
            color: $accent;
        }
    }
}

.popular-list {
    .h6 {
        line-height: 20px !important;
    }
}

.news-list {
    img {
        height: 272px;
        object-fit: cover;
        object-position: center;
    }
}

// *** HOME PAGE end *** //
// *** Utilities *** //
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.fs {
    &-14 {
        font-size: 14px;
    }
    &-20 {
        font-size: 20px;
    }
}

.fw-medium {
    font-weight: 500;
}

.c {
    &-accent {
        color: $accent;
    }
    &-primary {
        color: $primary;
    }
    &-blue {
        color: $blue;
    }
    &-gray {
        color: $gray;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        &.c-blue {
            color: darken($blue, 10);
        }
    }
}

.bg {
    &-blue {
        background-color: $light-blue;
    }
    &-gray {
        background-color: $light-gray;
    }
}

.shadow-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded-4 {
    border-radius: 10px;
    overflow: hidden;
}

.btn {
    font-weight: 500;
    &-lg {
        padding: 13px 32px 13px 32px;
        line-height: 1em;
    }
    &-sm {
        padding: 10px 16px;
    }
    &-accent {
        background-color: $accent;
        color: $white;
        border-radius: 10px;
        &:hover {
            background-color: lighten($accent, 5);
            color: $white;
        }
        &:active {
            background-color: darken($accent, 5)
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
        &:disabled {
            background-color: grayscale($accent);
        }
    }
    &-white {
        background-color: $white;
        color: $primary;
    }
    &-outline {
        color: $primary;
        border: 1px solid $primary;
    }
}

.img {
    padding-top: 85%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

img {
    user-select: none;
}

.form-select,
.form-control {
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
    }
    &::placeholder {
        color: $gray;
    }
}

.bg-blue {
    .form-select,
    .form-control {
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($blue, 0.3);
        }
    }
}

.border {
    &-bottom {
        border-bottom-color: #BCBCBC !important;
    }
}

span.checked {
    color: $yellow;
}

input[type=date] {
    background-color: $white;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-image: url('../images/icons/calendar.svg');
    background-position: 94% center;
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

// PAGINATION
.page-item {
    margin-right: 4px;
    &:last-of-type {
        margin-right: 0;
    }
    .page-link {
        color: $primary;
        border-radius: 10px !important;
        border-color: $transparent;
        line-height: 20px;
        &:focus,
        &:hover {
            background-color: lighten($accent, 40%);
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
    }
    &.active {
        .page-link {
            background-color: $accent;
            border-color: $accent;
        }
    }
    &.disabled {
        .page-link {
            border-color: $transparent;
        }
        svg path {
            stroke: $gray;
            opacity: 0.8;
        }
    }
}

footer {
    background-color: $primary
}

// MEDIA QUERIES start
@media (min-width: 1488px) {
    .container {
        max-width: 1440px + 24;
    }
}

@media screen and (max-width: 767.98px) {
    .popular-categories {
        .fs-20 {
            font-size: 14px;
        }
    }
    .btn-lg {
        font-size: 16px;
    }
    .input-group>.form-control,
    .input-group>.form-select,
    .input-group>.btn {
        width: 100%;
    }
    .page-item {
        .page-link {
            font-size: 1rem;
        }
    }
    .news-list {
        img: {
            height: 50vw;
        }
    }
}

@media (max-width: 575.98px) {
    .find-on-map {
        .input-group {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 991.98px) {}

// @media (max-width: 1199.98px) {}
// @media (max-width: 1399.98px) {}