@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #3C3939;
}

::selection {
  color: white;
  background-color: #FF6600;
}

header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.z-index-10 {
  z-index: 10;
}

.switch {
  color: #3C3939;
  background-color: transparent;
  border: none;
  padding: 0;
}

.switch::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FF6600;
  height: 1px;
  width: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.switch:hover::after {
  width: 100%;
}

.switch.active {
  color: #FF6600;
}

.switch.active::after {
  width: 100%;
}

.main-1 {
  background-image: url("../images/img/hero.jpeg");
  background-size: cover;
  background-position: center;
}

.logo-bg {
  background: radial-gradient(38.15% 646.72% at 50.08% 50%, #ACACAC 0%, rgba(255, 251, 251, 0) 100%);
  filter: blur(4px);
}

.main-2 {
  background-image: url("../images/img/hero-2.jpeg");
  background-size: cover;
}

.categories-list img {
  max-height: 225px;
  object-fit: scale-down;
}

.categories-list a {
  border: 1px solid transparent;
  transition: all 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: #FF6600;
}

.categories-list a:hover, .categories-list a:active, .categories-list a:focus {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  outline: none;
}

.find-on-map .input-group .form-select,
.find-on-map .input-group .form-control {
  border-color: #FF6600;
}

.find-on-map .input-group .btn {
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.auction .img {
  padding-top: 55%;
  max-height: 200px !important;
}

.popular-categories .img:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.popular-categories a:hover, .popular-categories a:focus {
  color: #FF6600;
}

.popular-list .h6 {
  line-height: 20px !important;
}

.news-list img {
  height: 272px;
  object-fit: cover;
  object-position: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.ff-2 {
  font-family: 'Open Sans', sans-serif;
}

.c-accent {
  color: #FF6600;
}

.c-primary {
  color: #3C3939;
}

.c-blue {
  color: #4DA9FF;
}

.c-dark-blue {
  color: #03588C;
}

.c-gray {
  color: #999999;
}

.c-black {
  color: black;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

a:hover.c-blue {
  color: #1a90ff;
}

.text-danger {
  color: #EB1919 !important;
}

.text-dashed {
  border-bottom: 1px dashed #4DA9FF !important;
}

.text-dashed:hover {
  color: #4DA9FF;
}

.unconfirmed .unc-svg::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid white;
  top: -11px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.unconfirmed > div {
  bottom: 34px;
}

.bg-blue {
  background-color: #F1F8FF;
}

.bg-gray {
  background-color: #F6F6F6;
}

.shadow-box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded-4 {
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  font-weight: 500;
  white-space: nowrap;
  border-radius: 10px;
}

.btn-lg {
  padding: 12px 32px 14px 32px;
  line-height: 1em;
}

.btn-sm {
  padding: 10px 16px;
}

.btn-accent {
  background-color: #FF6600;
  color: white;
  border-radius: 10px;
}

.btn-accent:hover {
  background-color: #ff751a;
  color: white;
}

.btn-accent:active {
  background-color: #e65c00;
}

.btn-accent:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.btn-accent:disabled {
  background-color: gray;
}

.btn-white {
  background-color: white;
  color: #3C3939;
}

.btn-outline {
  color: #3C3939;
  border: 1px solid #3C3939;
}

.btn-outline:disabled {
  background-color: gray;
  color: white;
  border-color: gray;
}

.btn-outline-2 {
  color: #FF6600;
  border: 1px solid #FF6600;
}

.btn-outline-2:hover {
  color: #fa6400;
}

.btn-outline-2:disabled {
  background-color: gray;
  color: white;
  border-color: gray;
}

.btn-danger {
  background-color: #EB1919;
}

.btn-fav.active svg {
  fill: #FF6600;
}

.mb-40 {
  margin-bottom: 40px;
}

.bg-block {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

img {
  user-select: none;
  object-fit: cover;
  object-position: center;
}

.img {
  padding-top: 84%;
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-upload .img-drop {
  border-color: #4DA9FF !important;
  padding: 90px;
}

.img-upload input[type=file] {
  opacity: 0;
  position: absolute;
}

.form-select,
.form-control {
  border-color: #D2D2D2;
}

.form-select:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.form-select::placeholder,
.form-control::placeholder {
  color: #999999;
}

.bg-blue .form-select:focus,
.bg-blue .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(77, 169, 255, 0.3);
}

.border-bottom {
  border-bottom-color: #D2D2D2 !important;
}

span.checked {
  color: #FFD600;
}

input[type=date] {
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: url("../images/icons/calendar.svg");
  background-position: 94% center;
  position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.page-item {
  margin-right: 4px;
}

.page-item:last-of-type {
  margin-right: 0;
}

.page-item .page-link {
  color: #797979;
  border-radius: 10px !important;
  border-color: transparent;
  line-height: 20px;
}

.page-item .page-link:focus, .page-item .page-link:hover {
  background-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.page-item.active .page-link {
  background-color: transparent;
  border-color: #FF6600;
  color: #FF6600;
}

.page-item.disabled .page-link {
  border-color: transparent;
}

.page-item.disabled svg path {
  stroke: #999999;
  opacity: 0.8;
}

.dialogue-list > div {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.dialogue-list > div.unread {
  background-color: rgba(255, 102, 0, 0.05);
  box-shadow: none;
}

.dialogue-list .rounded-circle {
  width: 64px;
  height: 64px;
}

.dialogue-list .fs-20 {
  line-height: 20px;
}

footer {
  background-color: #3C3939;
}

.form-check {
  display: flex;
  padding: 0;
}

.form-check .form-check-input {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #C4C4C4;
  float: none;
  margin: 0;
  margin-right: 16px;
}

.form-check .form-check-input:focus {
  border-color: #FF6600;
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.4);
}

.form-check .form-check-input[type=checkbox] {
  border-radius: 5px;
}

.form-check .form-check-input[type=checkbox]:checked {
  background-color: #FF6600;
  border-color: #FF6600;
  background-image: url("../images/icons/check.svg");
}

.form-check .form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #F6F6F6;
}

.form-check .form-check-input[type=radio]:checked {
  border-color: #FF6600;
  background-color: rgba(255, 102, 0, 0.3);
  background-image: url("../images/icons/checked-radio.svg");
  background-size: contain;
}

.modal-content .nav button {
  padding: 0 0 12px 0;
}

.modal-content .nav button.active {
  color: #FF6600;
  border-bottom: 1px solid #FF6600;
}

.modal-content .nav button:focus {
  box-shadow: none;
}

.modal-content .btn-group .btn-check:checked + .btn {
  background-color: rgba(0, 0, 0, 0.05);
}

.modal-content .btn-group .btn-check:focus + .btn,
.modal-content .btn-group .btn-check .btn:focus {
  box-shadow: none;
}

.modal-content .btn-group .btn {
  border: 0.5px solid #C4C4C4;
  font-weight: normal;
  padding: 4px 16px;
}

.modal-content .btn-outline {
  border: 0.5px solid #C4C4C4;
}

.modal-header, .modal-footer {
  border: none;
}

.map-container {
  height: 300px;
}

.map-container .ymaps-2-1-78-controls__control_toolbar,
.map-container .ymaps-2-1-78-map-copyrights-promo,
.map-container .ymaps-2-1-78-controls__control {
  display: none !important;
}

.map-container .map-placemark {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  background-image: url("../images/icons/map-pin.svg");
}

.map-container .map-circle {
  border-radius: 50%;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: rgba(255, 102, 0, 0.22);
  border: 1px solid #FF6600;
}

.my-tabs {
  border-bottom: 1px solid #D2D2D2;
}

.my-tabs button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #656565;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
}

.my-tabs button.active {
  color: black;
  border-bottom-color: #FF6600;
}

.my-tabs button:focus {
  box-shadow: none;
}

.my-tabs-2 .nav-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border: none;
  text-align: left;
  background-color: transparent;
}

.my-tabs-2 .nav-link.active {
  color: #FF6600;
}

.rounded-circle {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.rounded-circle img {
  width: 100%;
  height: 100%;
}

.gallery-top {
  height: 512px;
}

.gallery-top .swiper-slide {
  border-radius: 10px;
  display: flex;
}

.gallery-top img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.swiper-button-next, .swiper-button-prev {
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper-button-next:hover svg path, .swiper-button-prev:hover svg path {
  stroke: white;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  border-radius: 0 10px 10px 0;
}

.swiper-button-prev {
  border-radius: 10px 0 0 10px;
}

.gallery-thumbs {
  height: 96px;
}

.gallery-thumbs .swiper-slide {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #FF6600;
}

.gallery-thumbs img {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-prof-img {
  width: 213px;
  height: 213px;
}

.announcements-img {
  width: 185px;
  height: 136px;
}

.proposal-page .my-tabs {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.proposal-page .my-tabs::-webkit-scrollbar {
  display: none;
}

.table-striped > tbody {
  background-color: rgba(255, 102, 0, 0.24);
}

.table > :not(caption) > * > * {
  padding: 7px 16px;
}

.table-striped > tbody th {
  font-weight: normal;
  color: #3C3939;
}

.table-striped > tbody td {
  text-align: right;
  font-weight: 500;
  color: black;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #F0F0F0;
}

@media (min-width: 1488px) {
  .container {
    max-width: 1464px;
  }
}

@media (min-width: 991.98px) {
  .messages-list .text-truncate {
    max-width: 64px;
  }
  .modal-dialog {
    max-width: 944px;
  }
  .modal-content .btn-group .btn {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .popular-categories .fs-20 {
    font-size: 14px;
  }
  .btn-lg {
    font-size: 16px;
  }
  .input-group > .form-control,
  .input-group > .form-select,
  .input-group > .btn {
    width: 100%;
  }
  .page-item .page-link {
    font-size: 1rem;
  }
  .news-list img {
    height: 50vw;
  }
  .rounded-circle {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 575.98px) {
  .find-on-map .input-group {
    margin-bottom: 0;
  }
  .page-item {
    margin-right: 1px;
  }
  .gallery-top {
    height: 200px;
  }
  .gallery-thumbs {
    height: 80px;
  }
  .user-prof-img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 465px) {
  .modal-dialog {
    max-width: 458px;
  }
}

@media (max-width: 991.98px) {
  .map-container {
    height: 200px;
  }
  .map-container .map-circle {
    width: 200px;
    height: 200px;
  }
  .modal-content .nav button {
    padding-bottom: 8px;
  }
  .modal-content .btn-group .btn {
    padding: 4px 10px;
  }
  .my-tabs button {
    font-size: 16px;
  }
}
