@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300;400;500;700&display=swap');
$accent: #FF6600;
$black: black;
$primary: #3C3939;
$gray: #999999;
$light-gray: #F6F6F6;
$white: white;
$blue: #4DA9FF;
$dark-blue: #03588C;
$light-blue: #F1F8FF;
$yellow: #FFD600;
$transparent: transparent;
$danger: #EB1919;
// *******************************************
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary;
    overflow-x: hidden;
}

 ::selection {
    color: $white;
    background-color: $accent;
}

header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.z-index-10 {
    z-index: 10;
}

// *** HOME PAGE start *** //
.switch {
    color: $primary;
    background-color: $transparent;
    border: none;
    padding: 0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $accent;
        height: 1px;
        width: 0;
        transition: width 0.5s;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -ms-transition: width 0.5s;
        -o-transition: width 0.5s;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
    &.active {
        color: $accent;
        &::after {
            width: 100%;
        }
    }
}

.card {
    &-title {
        max-height: 40px;
        overflow: hidden;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.main-1 {
    background-image: url('../images/img/hero.jpeg');
    background-size: cover;
    background-position: center;
}

.main-2 {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 46.35%, rgba(255, 255, 255, 0) 100%), url('../images/img/hero-2.jpeg');
    background-size: cover;
}

// categories list
.categories-list {
    img {
        max-height: 225px;
        object-fit: scale-down;
    }
    a {
        border: 1px solid $transparent;
        transition: all 0.3s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        background-color: $accent;
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            outline: none;
        }
    }
}

.find-on-map {
    .input-group {
        // margin-bottom: -10px;
        .form-select,
        .form-control {
            border-color: $accent;
        }
        .btn {
            border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            -ms-border-radius: 0 4px 4px 0;
            -o-border-radius: 0 4px 4px 0;
        }
    }
}

.auction {
    .img {
        padding-top: 55%;
        max-height: 200px !important;
    }
}

.popular-categories {
    .img {
        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
        }
    }
    a {
        &:hover,
        &:focus {
            color: $accent;
        }
    }
}

.popular-list {
    .h6 {
        line-height: 20px !important;
    }
}

.news-list {
    // .news-group {}
    img {
        height: 272px;
        object-fit: cover;
        object-position: center;
    }
    .new-text {
        max-height: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    p {
        margin-bottom: 0;
    }
}

// *** HOME PAGE end *** //
// *** Utilities *** //
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.fs {
    &-14 {
        font-size: 14px;
    }
    &-20 {
        font-size: 20px;
    }
}

.fw {
    &-5 {
        font-weight: 500;
    }
    &-6 {
        font-weight: 600;
    }
}

.ff-2 {
    font-family: 'Open Sans', sans-serif;
}

.c {
    &-accent {
        color: $accent;
    }
    &-primary {
        color: $primary;
    }
    &-blue {
        color: $blue;
    }
    &-dark-blue {
        color: $dark-blue;
    }
    &-gray {
        color: $gray;
    }
    &-black {
        color: $black;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        &.c-blue {
            color: darken($blue, 10);
        }
    }
}

.text-danger {
    color: $danger !important;
}

.text-dashed {
    border-bottom: 1px dashed $blue !important;
    &:hover {
        color: $blue;
    }
}

.unconfirmed {
    .unc-svg {
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid $white;
            top: -11px;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
        }
    }
    >div {
        bottom: 34px;
    }
}

.bg {
    &-accent {
        background-color: $accent;
    }
    &-blue {
        background-color: $light-blue;
    }
    &-gray {
        background-color: $light-gray;
    }
    &-light-gray {
        background-color: #F2F2F2;
    }
}

.shadow-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rounded {
    &-4 {
        border-radius: 10px;
        overflow: hidden;
    }
    &-30 {
        border-radius: 30px;
    }
}

.btn {
    font-weight: 500;
    white-space: nowrap;
    border-radius: 10px;
    &-lg {
        padding: 12px 32px 14px 32px;
        line-height: 1em;
    }
    &-sm {
        padding: 10px 16px;
    }
    &-accent {
        background-color: $accent;
        color: $white;
        border-radius: 10px;
        &:hover {
            background-color: lighten($accent, 5);
            color: $white;
        }
        &:active {
            background-color: darken($accent, 5)
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
        &:disabled {
            background-color: grayscale($accent);
        }
    }
    &-white {
        background-color: $white;
        color: $primary;
    }
    &-outline {
        color: $primary;
        border: 1px solid $primary;
        &:disabled {
            background-color: grayscale($accent);
            color: $white;
            border-color: grayscale($accent);
        }
    }
    &-outline-2 {
        color: $accent;
        border: 1px solid $accent;
        &:hover {
            color: darken($accent, 1);
        }
        &:disabled {
            background-color: grayscale($accent);
            color: $white;
            border-color: grayscale($accent);
        }
    }
    &-danger {
        background-color: $danger;
    }
    &-fav {
        &.active {
            svg {
                fill: $accent;
            }
        }
    }
}

.mb {
    &-32 {
        margin-bottom: 32px;
    }
    &-40 {
        margin-bottom: 40px;
    }
}

.bg-block {
    background-color: rgba($black, 0.6);
    z-index: 9;
}

img {
    user-select: none;
    object-fit: cover;
    object-position: center;
}

.img {
    padding-top: 84%;
    position: relative;
    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: center;
    // }
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        /* width: 100%; */
        /* height: 100%; */
        max-height: 100%;
        padding: 5px;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
    }
}

.img-upload {
    .img-drop {
        border-color: $blue !important;
        padding: 90px;
    }
    input[type=file] {
        opacity: 0;
        position: absolute;
    }
}

.form-select,
.form-control {
    border-color: #D2D2D2;
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
    }
    &::placeholder {
        color: $gray;
    }
}

.bg-blue {
    .form-select,
    .form-control {
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($blue, 0.3);
        }
    }
}

.border {
    &-bottom {
        border-bottom-color: #D2D2D2 !important;
    }
}

span.checked {
    color: $yellow;
}

input[type=date] {
    background-color: $white;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-image: url('../images/icons/calendar.svg');
    background-position: 94% center;
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

// PAGINATION
.page-item {
    margin-right: 4px;
    &:last-of-type {
        margin-right: 0;
    }
    .page-link {
        color: #797979;
        border-radius: 10px !important;
        border-color: $transparent;
        line-height: 20px;
        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
    }
    &.active {
        .page-link {
            background-color: $transparent;
            border-color: $accent;
            color: $accent;
        }
    }
    &.disabled {
        .page-link {
            border-color: $transparent;
        }
        svg path {
            stroke: $gray;
            opacity: 0.8;
        }
    }
}

.dialogue-list {
    >div {
        background-color: $white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        &.unread {
            background-color: rgba($accent, 0.05);
            box-shadow: none;
        }
    }
    .rounded-circle {
        width: 64px;
        height: 64px;
    }
    .fs-20 {
        line-height: 20px;
    }
}

footer {
    background-color: $primary
}

.form-check {
    display: flex;
    padding: 0;
    & &-input {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #C4C4C4;
        float: none;
        margin: 0;
        margin-right: 16px;
        &:focus {
            border-color: $accent;
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.4);
        }
    }
    & &-input[type=checkbox] {
        border-radius: 5px;
        &:checked {
            background-color: $accent;
            border-color: $accent;
            background-image: url('../images/icons/check.svg');
        }
    }
    & &-input[type=radio] {
        border-radius: 50%;
        background-color: $light-gray;
        &:checked {
            border-color: $accent;
            background-color: rgba($accent, 0.3);
            background-image: url('../images/icons/checked-radio.svg');
            background-size: contain;
        }
    }
}

.position-fixed .rounded-circle {
    width: 10px;
    height: 10px;
}

.mobile-menu-btn,
.mobile-search-btn {
    width: 24px;
    height: 24px;
    font-size: 0px;
    background-image: url('../images/icons/mobile-menu-btn.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-search-btn {
    background-image: url('../images/icons/search-settings.svg');
}

.offcanvas-menu {
    max-width: 90%;
    .avatar-small {
        width: 40px;
        height: 40px;
        background-image: url(../images/img/avatar-sm.svg);
    }
}

.modal {
    &-content {
        .nav {
            button {
                padding: 0 0 12px 0;
                &.active {
                    color: $accent;
                    border-bottom: 1px solid $accent;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .btn-group {
            .btn-check {
                &:checked {
                    +.btn {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
                &:focus+.btn,
                .btn:focus {
                    box-shadow: none;
                }
            }
            .btn {
                border: 0.5px solid #C4C4C4;
                font-weight: normal;
                padding: 4px 16px;
            }
        }
        .btn-outline {
            border: 0.5px solid #C4C4C4;
        }
    }
    &-header,
    &-footer {
        border: none;
    }
}

.pop-cat-tabs {
    button {
        color: $accent;
        &.active {
            background-color: $accent !important;
            color: $white !important;
        }
    }
}

// MAP
.map-container {
    height: 300px;
    .ymaps-2-1-78-controls__control_toolbar,
    .ymaps-2-1-78-map-copyrights-promo,
    .ymaps-2-1-78-controls__control {
        display: none !important;
    }
    .map-placemark {
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        pointer-events: none;
        background-image: url('../images/icons/map-pin.svg');
    }
    .map-circle {
        border-radius: 50%;
        display: block;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
        background-color: rgba(255, 102, 0, 0.22);
        border: 1px solid $accent;
    }
}

.map-container-lg {
    height: 690px;
}

.my-tabs {
    border-bottom: 1px solid #D2D2D2;
    button {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #656565;
        padding-bottom: 20px;
        border-bottom: 2px solid $transparent;
        &.active {
            color: $black;
            border-bottom-color: $accent;
        }
        &:focus {
            box-shadow: none;
        }
    }
    &-2 {
        .nav-link {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            border: none;
            text-align: left;
            background-color: $transparent;
            &.active {
                color: $accent;
            }
        }
    }
}

.rounded-circle {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}

.gallery-top {
    height: 512px;
    .swiper-slide {
        border-radius: 10px;
        display: flex;
    }
    img {
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center;
    }
}

button {
    white-space: nowrap;
}

.overflow-x-scroll {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.overflow-hidden {
    overflow: hidden;
}

.swiper-button {
    &-next,
    &-prev {
        transition: background-color 0.3s ease;
        &:hover {
            background-color: rgba($black, 0.4);
            svg {
                path {
                    stroke: $white;
                }
            }
        }
        &::after {
            content: '';
        }
    }
    &-next {
        border-radius: 0 10px 10px 0;
    }
    &-prev {
        border-radius: 10px 0 0 10px;
    }
}

.gallery-thumbs {
    height: 96px;
    .swiper-slide {
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        &.swiper-slide-thumb-active {
            border: 1px solid $accent;
        }
    }
    img {
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.user-prof-img {
    width: 213px;
    height: 213px;
}

.announcements-img {
    width: 185px;
    height: 136px;
}

.proposal-page {
    .my-tabs {
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.table-striped>tbody {
    background-color: rgba($accent, 0.24);
}

.table> :not(caption)>*>* {
    padding: 7px 16px;
}

.table-striped>tbody th {
    font-weight: normal;
    color: $primary;
}

.table-striped>tbody td {
    text-align: right;
    font-weight: 500;
    color: $black;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F0F0F0;
}

// MEDIA QUERIES start
@media (min-width: 1488px) {
    .container {
        max-width: 1440px + 24;
    }
}

@media (min-width: 991.98px) {
    .messages-list .text-truncate {
        max-width: 64px;
    }
    .modal {
        &-dialog {
            max-width: 944px;
        }
        &-content {
            .btn-group {
                .btn {
                    padding: 4px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .popular-categories {
        .fs-20 {
            font-size: 14px;
        }
    }
    .btn-lg {
        font-size: 16px;
    }
    // .input-group>.form-control,
    // .input-group>.form-select,
    // .input-group>.btn {
    //     width: 100%;
    // }
    .page-item {
        .page-link {
            font-size: 1rem;
        }
    }
    .map-container-lg {
        height: 633px;
    }
    .popular-list {
        background-color: $white;
    }
    .news-list {
        .news-group {
            width: 100%;
            overflow-x: scroll;
            >* {
                width: 45%;
            }
            h5 {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
        img {
            height: 38vw;
        }
    }
    .rounded-circle {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 575.98px) {
    .find-on-map {
        .input-group {
            margin-bottom: 0;
        }
    }
    // PAGINATION
    .page-item {
        margin-right: 1px;
    }
    .gallery-top {
        height: 200px;
    }
    .gallery-thumbs {
        height: 80px;
    }
    .user-prof-img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 465px) {
    .modal-small {
        max-width: 458px;
    }
}

@media (max-width: 991.98px) {
    .map-container {
        height: 200px;
        .map-circle {
            width: 200px;
            height: 200px;
        }
    }
    .modal {
        &-content {
            .nav {
                button {
                    padding-bottom: 8px;
                }
            }
            .btn-group {
                .btn {
                    padding: 4px 10px;
                }
            }
        }
    }
    .my-tabs {
        button {
            font-size: 16px;
        }
    }
    .auction {
        img {
            opacity: 0.2;
            max-height: 100%;
            max-width: 100%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
        }
        .auction-text {
            z-index: 3;
        }
    }
}

// @media (max-width: 1199.98px) {}
// @media (max-width: 1399.98px) {}